* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

/* red original:  rgb(204,51,63)    */
/* red original:  rgb(204,51,63)    */
.navbar__list {
  justify-content: end; }

.nav-link {
  font-family: "Nunito", sans-serif;
  color: black !important;
  font-size: 1.2rem; }
  .nav-link:hover {
    -webkit-animation: text-pop-up-top 0.5s linear both;
    animation: text-pop-up-top 0.5s linear both; }

#modifnav {
  font-family: "Nunito", sans-serif;
  color: black !important;
  font-size: 1rem !important; }
  #modifnav:hover {
    -webkit-animation: text-pop-up-top 0.5s linear both;
    animation: text-pop-up-top 0.5s linear both; }

#navbar {
  padding: 0px;
  transition: 1s; }

#logo {
  padding: 2px;
  width: 200px;
  transition: 1s; }

@-webkit-keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none; }
  100% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3); } }

.logo {
  -webkit-animation: roll-in-left 2s ease-out both;
  animation: roll-in-left 2s ease-out both; }

@-webkit-keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1; } }

@keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1; } }

/* red original:  rgb(204,51,63)    */
.upperctn {
  height: 120vh;
  background-image: url("../assets/refugio.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover; }

.hero {
  padding: 5px; }
  .hero__title {
    font-family: "Ubuntu", sans-serif;
    font-size: 2.2rem;
    color: black;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 0px 15px 15px 0px; }
  .hero__subtitle {
    font-family: "Ubuntu", sans-serif;
    color: black;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 0px 15px 15px 0px; }

.servicios {
  padding: 20px; }
  .servicios__img {
    width: 150px;
    padding: 20px; }
    .servicios__img:hover {
      -webkit-animation: rotate-vert-center 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
      animation: rotate-vert-center 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) both; }

@-webkit-keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0); }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg); } }

@keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0); }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg); } }
  .servicios__txt {
    font-family: "Nunito", sans-serif;
    color: #6a4a3c;
    font-size: 1rem; }

/* red original:  rgb(204,51,63)    */
.video {
  border-top: solid 5px black;
  border-bottom: solid 5px black; }
  .video__txt {
    font-family: "Ubuntu", sans-serif;
    color: black;
    font-size: 1.5rem;
    padding: 20px; }
  .video__ctn-txt {
    display: flex;
    flex-direction: column; }
    @media screen and (max-width: 320px) {
      .video__ctn-txt {
        padding: 20px; } }
    @media screen and (max-width: 768px) {
      .video__ctn-txt {
        padding: 20px; } }

.custom-btn1 {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none; }

.btn-11 {
  border: none;
  background: #fb2175;
  background: linear-gradient(0deg, #fb2175 0%, #ea4c89 100%);
  color: #fff;
  overflow: hidden; }

.btn-11:hover {
  text-decoration: none;
  color: #fff; }

.btn-11:before {
  position: absolute;
  content: '';
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #fff;
  animation: shiny-btn1 3s ease-in-out infinite; }

.btn-11:hover {
  opacity: .7; }

.btn-11:active {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3), -4px -4px 6px 0 rgba(116, 125, 136, 0.2), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2), inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2); }

@-webkit-keyframes shiny-btn1 {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0; }
  80% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0.5; }
  81% {
    -webkit-transform: scale(4) rotate(45deg);
    opacity: 1; }
  100% {
    -webkit-transform: scale(50) rotate(45deg);
    opacity: 0; } }

/* red original:  rgb(204,51,63)    */
.adventureindex {
  background-image: url("../assets/20220211_175144.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 110vh; }
  .adventureindex__txtctn {
    display: flex;
    flex-direction: column; }
  .adventureindex__txt {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 0px;
    font-size: 1.2rem;
    font-family: "Ubuntu", sans-serif;
    color: #6a4a3c;
    border-radius: 20px 0px 0px 20px;
    padding: 5px; }

button {
  margin: 20px; }

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none; }

.btn-12 {
  position: relative;
  right: 20px;
  bottom: 20px;
  border: none;
  box-shadow: none;
  width: 130px;
  height: 40px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px; }

.btn-12 span {
  background: #00acee;
  background: linear-gradient(0deg, #00acee 0%, #027efb 100%);
  display: block;
  position: absolute;
  width: 130px;
  height: 40px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s; }

.btn-12 span:nth-child(1) {
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px; }

.btn-12 span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px; }

.btn-12:hover span:nth-child(1) {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg); }

.btn-12:hover span:nth-child(2) {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg); }

.btn__link {
  text-decoration: none;
  color: white; }

/* red original:  rgb(204,51,63)    */
.novedades {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 55vh;
  padding: 10px;
  background-color: #FA8BFF;
  background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%); }
  @media screen and (max-width: 320px) {
    .novedades {
      height: 120vh; } }
  @media screen and (max-width: 768px) {
    .novedades {
      height: 120vh; } }
  .novedades__title {
    font-family: "Ubuntu", sans-serif;
    color: black;
    font-size: 2rem; }
  .novedades__txt {
    font-family: "Nunito", sans-serif;
    color: black;
    font-size: 1.5rem; }

button {
  margin: 20px; }

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none; }

.btn-3 {
  background: #00acee;
  background: linear-gradient(0deg, #00acee 0%, #027efb 100%);
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none; }

.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%; }

.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: #027efb;
  transition: all 0.3s ease; }

.btn-3:before {
  height: 0%;
  width: 2px; }

.btn-3:after {
  width: 0%;
  height: 2px; }

.btn-3:hover {
  background: transparent;
  box-shadow: none; }

.btn-3:hover:before {
  height: 100%; }

.btn-3:hover:after {
  width: 100%; }

.btn-3 span:hover {
  color: #027efb; }

.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: #027efb;
  transition: all 0.3s ease; }

.btn-3 span:before {
  width: 2px;
  height: 0%; }

.btn-3 span:after {
  width: 0%;
  height: 2px; }

.btn-3 span:hover:before {
  height: 100%; }

.btn-3 span:hover:after {
  width: 100%; }

/* red original:  rgb(204,51,63)    */
.footer {
  background-image: url("../assets/footer.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 40vh; }
  @media screen and (max-width: 320px) {
    .footer {
      display: flex;
      flex-direction: column-reverse;
      height: 100vh; } }
  @media screen and (max-width: 768px) {
    .footer {
      display: flex;
      flex-direction: column-reverse;
      height: 100vh; } }
  .footer__list {
    list-style-type: none; }
  .footer__link {
    font-family: "Nunito", sans-serif;
    color: white;
    font-size: 1rem;
    text-decoration: underline; }
    .footer__link--1 {
      color: white;
      text-decoration: underline; }
  .footer__contacto {
    font-family: "Ubuntu", sans-serif;
    color: white; }

.footer__contacto--list {
  list-style: none !important; }

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100; }

.float:hover {
  text-decoration: none;
  color: #25d366;
  background-color: #fff; }

.my-float {
  margin-top: 16px; }

/* red original:  rgb(204,51,63)    */
.upperctn__complejo {
  height: 90vh;
  background-image: url("../assets/pileta2.jpeg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover; }

.hero__complejo {
  height: 70vh; }

.complejo__header {
  display: flex;
  flex-direction: column;
  padding: 20px; }

.complejo__mini {
  color: black;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem; }

.complejo__titulo {
  color: black;
  font-family: "Ubuntu", sans-serif;
  font-size: 2.2rem; }

.habitaciones {
  padding: 20px;
  background-color: #FA8BFF;
  background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%); }
  .habitaciones__imgctn {
    display: flex;
    flex-direction: row;
    padding: 20px;
    overflow: hidden; }
  .habitaciones__imgctn2 {
    display: flex;
    flex-direction: row-reverse;
    padding: 20px;
    overflow: hidden; }
  .habitaciones__img {
    width: 500px !important;
    border-radius: 25px 25px 25px 25px; }
  .habitaciones___list {
    position: relative;
    justify-self: center; }
  .habitaciones__txt {
    color: white;
    font-family: "Ubuntu", sans-serif;
    font-size: 1.3rem;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1); }

.galeria {
  padding: 10px; }

.complejo__img {
  border-radius: 20px 20px 20px 20px;
  padding: 10px; }

.precio {
  padding: 20px; }
  .precio__title {
    font-family: "Ubuntu", sans-serif;
    color: black; }

.card-text {
  font-family: "Ubuntu", sans-serif;
  color: black; }

.precio1 {
  padding: 20px; }

.imgtarifas {
  padding: 10px; }

/* red original:  rgb(204,51,63)    */
.upperctn__ubicacion {
  height: 100vh;
  background-image: url("../assets/ubicacion.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover; }

.ubicacion {
  padding: 20px; }
  .ubicacion__titulo {
    font-family: "Ubuntu", sans-serif;
    color: black;
    font-size: 2rem; }
  .ubicacion__subtitulo {
    font-family: "Nunito", sans-serif;
    color: black;
    font-size: 1.5rem; }

.caminos {
  padding: 40px; }
  .caminos__titulo {
    padding: 10px;
    font-family: "Ubuntu", sans-serif;
    color: black;
    font-size: 2rem; }
  .caminos__imgctn {
    padding: 10px; }
  .caminos__img {
    padding: 15px; }

/* red original:  rgb(204,51,63)    */
.upperctn__aventuras {
  height: 100vh;
  background-image: url("../assets/uritorco.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover; }

.aventuras {
  padding: 20px; }
  .aventuras__titulo {
    font-family: "Ubuntu", sans-serif;
    color: black;
    font-size: 2rem; }
  .aventuras__subtitulo {
    font-family: "Nunito", sans-serif;
    color: black;
    font-size: 1.5rem; }

.aventuras__supertexto {
  background: white;
  min-height: 40vh;
  display: flex;
  align-items: center; }

.supertexto {
  width: 100%;
  color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: bold;
  background-image: url("../assets/letrafondo.jpg");
  background-size: cover;
  background-position-y: 700px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.cartas {
  height: 90vh; }
  @media screen and (max-width: 320px) {
    .cartas {
      height: 200vh; } }
  @media screen and (max-width: 768px) {
    .cartas {
      height: 200vh; } }

.cartas1 {
  height: 90vh; }
  @media screen and (max-width: 320px) {
    .cartas1 {
      height: 200vh; } }
  @media screen and (max-width: 768px) {
    .cartas1 {
      height: 200vh; } }

.cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.card {
  margin: 40px;
  position: relative;
  max-width: 250px;
  max-height: 400px;
  box-shadow: 0 40px 60px -6px black; }

.card-title {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
  background-color: #6184a8;
  padding: 0%;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px; }

.card img {
  width: 100%;
  height: 90%;
  object-fit: cover;
  display: block;
  position: relative; }

.card-desc {
  display: block;
  font-size: 1.2rem;
  position: absolute;
  height: 0;
  top: 0;
  opacity: 0;
  padding: 18px 8%;
  background-color: white;
  overflow-y: scroll;
  transition: 0.8s ease; }

.card:hover .card-desc {
  opacity: 1;
  height: 100%; }

.aventuras__supertexto1 {
  background: white;
  min-height: 40vh;
  display: flex;
  align-items: center; }

.supertexto1 {
  width: 100%;
  color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 3.8rem;
  font-weight: bold;
  background-image: url("../assets/trekkinguri.jpg");
  background-size: cover;
  background-position-y: 700px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.aventura__lista1 {
  list-style-type: none;
  font-family: "Ubuntu", sans-serif; }

/* red original:  rgb(204,51,63)    */
.upperctn__eventos {
  height: 90vh;
  background-image: url("../assets/eventosesp.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover; }

.news__ctn {
  border: solid 2px black;
  width: 80% !important;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(0, 160, 176, 0.15); }

.news__title {
  font-family: "Ubuntu", sans-serif;
  color: black;
  font-size: 2rem; }

.news__img {
  width: 64vh; }
  @media screen and (max-width: 320px) {
    .news__img {
      width: 40vh; } }
  @media screen and (max-width: 768px) {
    .news__img {
      width: 40vh; } }

.news__mini {
  padding: 30px;
  font-family: "Ubuntu", sans-serif;
  color: black;
  font-size: 1.5rem; }

.news__body {
  font-family: "Ubuntu", sans-serif;
  color: black;
  font-size: 1.2rem; }

/* red original:  rgb(204,51,63)    */
.upperctn__contacto {
  background-image: url("../assets/contacto.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 80vh; }

.contact {
  padding: 40px; }
  .contact__title {
    font-family: "Ubuntu", sans-serif;
    color: white;
    font-size: 3rem;
    padding: 20px; }

.color-change-2x {
  -webkit-animation: color-change-2x 5s linear infinite alternate both;
  animation: color-change-2x 5s linear infinite alternate both; }

@-webkit-keyframes color-change-2x {
  0% {
    background-color: #19dcea; }
  100% {
    background-color: #b22cff; } }

@keyframes color-change-2x {
  0% {
    background-color: #19dcea; }
  100% {
    background-color: #b22cff; } }

/* red original:  rgb(204,51,63)    */
.effect {
  display: flex; }
  .effect a {
    text-decoration: none !important;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 20px;
    font-size: 25px;
    overflow: hidden;
    position: relative;
    color: #fff;
    border: 2px solid #fff; }
    .effect a i {
      position: relative;
      z-index: 3; }
    .effect a:last-child {
      margin-right: 0px; }
    .effect a:before {
      content: "";
      display: inline-block;
      height: 100%;
      vertical-align: middle; }
    .effect a i {
      display: inline-block;
      vertical-align: middle; }

.effect.varrius a {
  transition: all 0.2s linear 0s; }
  .effect.varrius a:after {
    content: "";
    display: block;
    width: 90%;
    height: 90%;
    top: -110%;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    background-color: #fff;
    border-radius: 50%; }
  .effect.varrius a:hover {
    color: #212121; }
    .effect.varrius a:hover:after {
      top: 5%;
      transition: all 0.2s linear 0s; }

/* red original:  rgb(204,51,63)    */
/* red original:  rgb(204,51,63)    */
.presentacion {
  padding: 20px;
  overflow: hidden; }
  .presentacion__row {
    overflow: hidden; }
  .presentacion__ctn {
    overflow: hidden;
    height: 60vh;
    width: 64vh; }
  .presentacion__ctn1 {
    overflow: hidden;
    height: 60vh;
    width: 80vh; }
  .presentacion__img {
    transition: transform .4s;
    overflow: hidden; }
  .presentacion__img:hover {
    transform: scale(1.1); }
  .presentacion__img1 {
    transition: transform .4s;
    overflow: hidden; }
  .presentacion__img1:hover {
    transform: scale(1.1); }
  .presentacion__titulo {
    font-family: "Ubuntu", sans-serif;
    color: black; }
