@import "./variables";
@import "./responsive";

.upperctn__contacto{
    background-image: url("../assets/contacto.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: 80vh;

}

.contact{
    padding-left: 40px !important;
    padding: 40px;

    &__title{
        font-family: $font-title;
        color: white;
        font-size: 3rem;
        padding: 20px;
    }

}

.color-change-2x {
	-webkit-animation: color-change-2x 5s linear infinite alternate both;
	        animation: color-change-2x 5s linear infinite alternate both;
}

@-webkit-keyframes color-change-2x {
    0% {
      background-color: #19dcea;
    }
    100% {
        background-color: #b22cff;
    }
  }
  @keyframes color-change-2x {
    0% {
        background-color: #19dcea;
    }
    100% {
        background-color: #b22cff;
    }
  }
  
  