@import "./variables";

.footer{
    background-image: url("../assets/footer.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: 40vh;

    @include movil{
        display: flex;
        flex-direction: column-reverse;
        height: 120vh;
    }

    @include tablet{
        display: flex;
        flex-direction: column-reverse;
        height: 120vh;
    }

    &__list{
        list-style-type: none;
    }

    &__link{
        font-family: $font-normal;
        color: white;
        font-size: 1rem;
        text-decoration: underline;

        &--1{
            color: white;
            text-decoration: underline;
        }
    }

    &__contacto{
        font-family: $font-title;
        color: white;
    }

}

.footer__contacto--list{
    list-style: none !important;
}


