$font-title: 'Ubuntu', sans-serif;
$font-normal: 'Nunito', sans-serif;
$color-blue: rgb(0,160,176);
$color-brown: rgb(106,74,60);
$color-red: rgb(204,51,63);
$color-orange: rgb(235,104,65);
$color-yellow: rgb(237,201,81);
